<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card border-0">
    <h1 class="fc-logo">Foo Corp</h1>
    </div></div>
        <div class="login-form">
            <div class="main-div"> 
                <form id="Login">
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputUserName"  placeholder="Username">
                    </div><br>
                    <div class="form-group">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="forgot"></div>
                    <button type="submit" class="btn btn-primary rounded-pill">LOGIN</button>
                </form>
            </div>
        </div>
    </div>
</div>
